
.root{
	-fx-background-color: transparent;
}

.online{
	-fx-image: url(online.png);
}

.offline{
	-fx-image: url(offline.png);
}

.tab-pane:top *.tab-header-background{
   -fx-background-color: transparent;
}
.tabBackground{
	-fx-background-color: black;
}
